@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./dependencies/fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./dependencies/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  background: #FFF;
  height: max-content;
}

#root{
  min-height: 100vh;
}

div, section, header, footer, input {
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
